doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Feedback management gathers critical user feedback to identify opportunities to improve a product or service.')
        meta(name='author', content='Acreboard')

        title captureview - Feedback Management

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    // Body
    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

        header.bg-dark.py-5
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-lg-6
                        .text-center.my-5
                            h1.display-5.fw-bolder.text-white.mb-2 captureview: The Feedback Management System
                            p.lead.text-white-50.mb-4 Listen, Analyse, Improve = Better Products, Loyalty, Repeat Business. A management platform where customer voices are heard, analysed, and turned into product improvements. 
                            .d-grid.gap-3.d-sm-flex.justify-content-sm-center
                                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#feedbackmanagement') Get Started
                                a.btn.btn-outline-light.btn-lg.px-4(href='#contact') Contact Us

        // Page Content
        section#feedbackmanagement.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Key Takeaway
                        p.lead
                            | Feedback management gathers critical user feedback to identify opportunities to improve a product or service.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 What is feedback management?
                        p.lead
                            | A feedback management system enhances the process of collecting, analysing, and responding to customer feedback, ultimately contributing to product improvement and fostering increased customer satisfaction and loyalty.
                        p.lead
                            | Product and service teams that consistently seek customer feedback regarding their challenges, requirements, achievements, setbacks, and expectations for future products or features can leverage this data to inform product decisions and prioritise the development roadmap.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Why is feedback management important ?
                        p.lead
                            | By streamlining the collection, analysis, and response to customer feedback on product features, usability, and overall experience, companies can develop products that customers love and build enduring loyalty.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Customer satisfaction = Profits
                        p.lead
                            | The foundation of any company's profits lies in customer satisfaction. To measure and understand customer satisfaction, a simple and effective approach is to directly inquire about it.
                        p.lead
                            | Customer feedback serves as a valuable tool for companies to comprehend their clients' perspectives and provides data for in-depth analysis. Addressing customer need consistently paves the way to increased revenues.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 What are the benefits of feedback management?
                        p.lead
                            | Customer feedback shapes the product roadmap in product management, emphasising the vital need for a robust feedback management system.
                        h2 Product Intuition
                        p.lead
                            | Mastering product intuition is crucial for making decisions benefiting both customers and your organisation. Actively immersing yourself in the feedback process, analysing customer feedback, allows you to cultivate product intuition, influencing key decisions and fostering growth in your organisation.
                        h2 Hypothesis Testing
                        p.lead
                            | Customers stand as the most reliable source for understanding preferences and needs. Active engagement with them validates your product hypotheses, providing invaluable insights crucial for developing a product that genuinely addresses their requirements or problems.
                        h2 Mitigate Risk
                        p.lead
                            | A user-friendly customer feedback system removes the uncertainty in product decision-making and development. Utilising direct insights from customers enables your teams to make informed decisions that align with customer's needs and preferences, greatly reducing the risk of customer dissatisfaction or loss due to unmet expectations.
                        h2 Prioritisation
                        p.lead
                            | Utilising feedback management helps organisations identify priorities for development. By analysing feedback, valuable insights emerge, empowering the creation of products or features aligned with customer needs and preferences. In essence, feedback management guides strategic product development based on customer input. 
                        h2 Long-term Relationship
                        p.lead
                            | Requesting and acting on feedback is the most effective means of demonstrating care, fostering positive word-of-mouth promotion. A streamlined feedback management process not only enhances revenue but also reduces churn and strengthens customer relationships by ensuring customers feel heard and valued.
                        h2 Competitive Advantage
                        p.lead
                            | Mastering feedback management provides a competitive edge, positioning you ahead in the industry. Embracing a customer-centric product approach enhances satisfaction, setting you apart from competitors and solidifying your position in the market. 

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Why should teams prioritise and act on the feedback they receive?
                        p.lead
                            | Feedback management system makes sure everyone's on the same page. You already know how feedback is gathered, why it matters, and the impact their input has. This transparency builds trust and empowers everyone to contribute.
                        p.lead
                            | Gathering feedback isn't new, but leaving it unmanaged leaves your organisation blind to valuable opportunities. Implement the best feedback management software to streamline tasks. Let feedback management be your guide, turning feedback into cheers and driving success you can actually see.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Research and reports
                        p.lead
                            | Below are some statistics that emphasise the significance of gathering feedback:
                        h2 PricewaterhouseCoopers
                        p.lead
                            | Based on research by PricewaterhouseCoopers, 59% of U.S. customers are inclined to discontinue their association with a brand after encountering several negative experiences, while 17% would do so after just one mistake. Globally, the figures are even higher, with 32% of dissatisfied customers opting to switch brands after the first mistake. Conversely, content and satisfied customers are willing to pay up to 16% more for products and services from a company that prioritises their care.
                            br
                            a(href='https://www.pwc.com/us/en/services/consulting/library/consumer-intelligence-series/future-of-customer-experience.html') Learn more
                        h2 Forbes
                        p.lead
                            | It is imperative for enterprises to listen to negative feedback. According to Forbes studies, a brand requires twelve positive experiences to rectify the harm caused by a single negative one. Furthermore, customers in the U.S. are likely to share their negative experiences with a brand with up to sixteen people, while positive experiences are typically shared with only nine colleagues or family members if they are satisfied.                        
                            br
                            a(href='https://www.forbes.com/sites/danielnewman/2015/10/13/customer-experience-is-the-future-of-marketing/?sh=6d7e9148193d') Learn more                        
                        h2 Harvard Business Review
                        p.lead
                            | Satisfied customers show a willingness to spend more. According to Harvard Business Review, when clients have positive experiences, they might spend 140% more compared to those who have had negative experiences with a company in the past.
                            br
                            a(href='https://hbr.org/2014/08/the-value-of-customer-experience-quantified') Learn more

        section
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Simple feedback management steps
                        p.lead
                            | Here are the four simple feedback management steps:
                        h2 Step 1: 
                        p.lead 
                            | You ask for feedback using surveys, reviews, or interviews.
                        h2 Step 2: 
                        p.lead 
                            | Then, you collect it efficiently with a feedback management system, no more sifting through scattered emails.
                        h2 Step 3: 
                        p.lead 
                            | Analysis makes all the difference, where trends and key insights emerge.
                        h2 Step 4: 
                        p.lead 
                            | Finally, acting on the feedback, shaping products and customers' experience.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Feedback management for Managers and Teams.
                        p.lead
                            | Feedback management software not only saves time and money for your teams but also offers a valuable avenue for continuous improvement of products and services based on the received feedback.
                        h2 For product managers:
                        p.lead
                            | You can uncover crucial customer insights, prioritise improvements, and drive long-term product success with a feedback management system.
                        h2 For customer service teams:
                        p.lead
                            | Your teams can turn feedback into action, build stronger relationships, and boost customer satisfaction.                    

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Feedback management process:
                        p.lead
                            | Consider the following steps as you structure your feedback management process:
                        h2 Define objectives
                        p.lead
                            | Define your objectives by consulting with the product team, product ops team (if applicable), and other stakeholders for goal alignment.
                        h2 Feedback type
                        p.lead
                            | Specify the type of feedback sought, whether focused on user complaints, bug reports, or one-on-one interviews with key users. Always clearly define the type of feedback you prioritise.
                        h2 Preferred medium
                        p.lead
                            | Develop a systematic process for collecting market voices. Determine the methods for collecting feedback, choosing between forms, emails, feedback management system, or direct interviews.                            
                        h2 Organising feedback
                        p.lead
                            | Gather feedback and organise it into relevant categories. Establish an effective organisation system for the gathered feedback, avoiding the pitfalls of ignoring it. Utilise this gathered information to enhance your organisation's throughput.
                        h2 Action plan
                        p.lead
                            | Analyse the data to gain a comprehensive understanding of clients' perspectives and trends. Develop a plan for taking actionable steps based on the feedback, with a dedicated product ops team playing a strategic role. 
                        h2 Reconnect
                        p.lead
                            | Ensure feedback management includes reconnecting with customers who provided input for a comprehensive process. Enhance customer satisfaction by incorporating qualitative feedback, recognizing that customer success is a pivotal factor in your business's growth.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Close the feedback loop, improve customer support, and grow your business
                        p.lead
                            | A thoughtfully designed feedback management system empowers teams to gather customer feedback from diverse sources, analyse insights, prioritise features, implement requested changes, and complete the feedback loop.
                        p.lead
                            | A streamlined approach results in enhanced customer satisfaction, reduced churn rates, and increased customer lifetime value.
                        p.lead
                            | By actively engaging with feedback, organisations can align their products and services more closely with customer needs, fostering loyalty and longevity in customer relationships, ultimately contributing to the overall success and growth of the business.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 A “must have” feedback management system for your organisation
                        p.lead
                            | Fostering a customer-centric culture and actively listening to customer feedback is more crucial than ever. To establish an effective customer feedback strategy and leverage your clients' insights for business success.

        // Call to action
        section.py-5.bg-light
            .container.px-5.my-5
                h2.display-4.fw-bolder.mb-4 Let's build together a better future
                a.btn.btn-lg.btn-primary(href='mailto:acreboard@outlook.com') Contact us

        // Contact cards
        section#contact.py-5
            .container.px-5                    
                .row.gx-5.row-cols-2.row-cols-lg-4.py-5
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-chat-dots
                        .h5.mb-2 Email us
                        p.text-muted.mb-0 Email us at acreboard@outlook.com.
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-telephone
                        .h5 Call us
                        p.text-muted.mb-0 Call us at (+91) 9152965250.
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-people
                        .h5 Ask the community
                        p.text-muted.mb-0 Explore our community forums.
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-question-circle
                        .h5 Support center
                        p.text-muted.mb-0 Browse FAQ's and support articles.

        // Footer
        include includes/footer.pug

        include includes/scripts.pug