doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Knowledge Management (KM) software streamlines the identification, creation, distribution, and organisation of a knowledge pool.')
        meta(name='author', content='Acreboard')

        title notedown - Knowledge Management
        
        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css.pug

    // Body
    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

        header.bg-dark.py-5
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-lg-6
                        .text-center.my-5
                            h1.display-5.fw-bolder.text-white.mb-2 notedown: The Knowledge Management System
                            p.lead.text-white-50.mb-4 Search, Learn, and Deliver. Leverage an exceptionally powerful tool - the KM software for discovering knowledge within your organisation and for your customers. 
                            .d-grid.gap-3.d-sm-flex.justify-content-sm-center
                                a.btn.btn-primary.btn-lg.px-4.me-sm-3(href='#knowledgemanagement') Get Started
                                a.btn.btn-outline-light.btn-lg.px-4(href='#contact') Contact Us

        // Page Content
        section#knowledgemanagement.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Key Takeaway
                        p.lead
                            | Knowledge Management (KM) software streamlines the identification, creation, distribution, and organisation of a company's knowledge pool. It provides a unified and easily accessible, searchable, and updated information repository.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 What is knowledge management?
                        p.lead
                            | Knowledge management (KM) is the method of systematic organisation, creation, utilisation, and sharing of collective intelligence or knowledge within an organisation. Successful knowledge management ensures that information is securely stored in a readily accessible location.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Why is knowledge management important?
                        p.lead
                            | Though employees, customers, and overall businesses benefit from an organised knowledge management system, it particularly improves the overall customer experience. Plus, establishing a comprehensive knowledge management system is pivotal in empowering customers to help themselves and enhancing the overall customer experience

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Shared Knowledge Base = Save Time + Less Cost + Increase Productivity
                        p.lead
                            | You might operate a SaaS company serving business customers, a business shipping out consumer products worldwide, or manage a support or help desk for internal customers, implementing an organised knowledge-base proves effective in delivering essential information.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 What are the benefits of knowledge management?
                        p.lead
                            | Below, we've outlined the advantages of knowledge management and how it contributes to the success of your customers.
                        h2 Organised knowledge-base
                        p.lead
                            | According to a 2022 Gartner study on customer service leaders' priorities, 74% emphasised the importance of enhancing content and knowledge delivery for both customers and employees in their support strategy. The efficient organisation and presentation of collective knowledge from a centralised repository streamlines scattered information silos within organisations
                        p.lead
                            | Plus, it helps in establishing a single source of truth. Such a system ensures clear organisation of critical information and effective search capabilities that enable visitors to easily find the information they require when they need it.
                        h2 Updated knowledge-base
                        p.lead
                            | A knowledge management system helps in identifying outdated articles, allowing for a straightforward process of updating them with current information. This advantage contrasts with the potential disorganisation of a file folder filled with documents
                        p.lead
                            | A KMS ensures the orderly organisation of valuable information, preventing the risk of misleading customers with outdated data and potentially losing their business, emphasising the importance of promptly addressing ageing information.                     
                        h2 Self-service-centric
                        p.lead
                            | A significant 78% of US leaders are increasing investments in self-service, incorporating customer self-help portals and AI-powered chatbots to empower them in finding solutions independently.
                        p.lead
                            | Self-service, where customers assist themselves through documentation, stands out as the most cost-effective customer support approach. This can be achieved through an extensive knowledge base, AI chatbots, or community forums.                       
                        p.lead
                            | These self-help alternatives leverage a centralised and updated knowledge management system to retrieve relevant solution articles and FAQs, effectively deflecting tickets away from the customer support team.                               
                        h2 Share and Reuse
                        p.lead
                            | Are your customer support agents investing substantial time in crafting detailed support emails? Utilising a KMS allows you to harness that knowledge by transforming these support emails into knowledge base articles. 
                        p.lead
                            | In essence, a knowledge management system democratises valuable information, encouraging knowledge sharing accessible to everyone in the company. Consequently, customers gain prompt access to helpful information at their fingertips. 
                        h2 Customer retention
                        p.lead
                            | Approximately 39% of customers favour self-service options over engaging with human agents. Fortunately, knowledge management software offers 24/7 support, allowing customers to quickly locate information without waiting in a phone queue.
                        p.lead
                            | As customers effortlessly find their own answers, you can anticipate a rise in customer satisfaction (CSAT) scores. Consistently enhancing the delivery of information through an online help centre contributes to reducing churn, enhancing customer loyalty, and improving customer retention.

                        h2 Better customer support
                        p.lead
                            | Communication through email or phone has its limitations. Knowledge management systems offer the ability to consolidate various types of media, ensuring comprehensive assistance.
                        p.lead
                            | Customers have diverse learning preferences, whether through text, videos, or images. By incorporating all these options into your help centre, you ensure that all customers receive the assistance they need, catering to their preferred method of consuming online material.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Research and reports
                        p.lead
                            | Below are some statistics that emphasise the significance of gathering knowledge management:
                        h2 McKinsey
                        p.lead
                            | Implementing a robust knowledge management system, as indicated by a McKinsey Global Institute Report, can reduce information search time by up to 35%. Plus, it increases organisation-wide productivity by 20-25%, and addresses the significant financial loss, estimated at $31.5 billion annually for Fortune 500 companies. These losses are incurred due to knowledge sharing gaps. There is a crucial need for such a system as your enterprise expands to efficiently manage operations, serve clients, and boost revenue, preventing inefficient practices and potential loss of critical information.
                            br
                            a(href='https://www.mckinsey.com/industries/technology-media-and-telecommunications/our-insights/the-social-economy') Learn more

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Knowledge management process:
                        p.lead
                            | A knowledge management process covers how a business handles knowledge. The process spans from knowledge creation and its management to ensuring organisation-wide distribution.
                        h2 Knowledge creation
                        p.lead
                            | The process of knowledge creation involves gathering information and data from various sources, such as internal employees or external individuals with expertise in a specific subject domain. This is where the knowledge acquisition process starts. Once acquired, the subsequent steps include understanding the purpose of the knowledge, determining its applications, and identifying its relevant contexts.
                        h2 Knowledge organisation
                        p.lead
                            | Following knowledge acquisition, the information must be systematically organised within a knowledge management system to facilitate future utilisation. This organisational step involves not only structuring the knowledge but also implementing security features to ensure access is restricted to authorised personnel. The knowledge organisation process is crucial in knowledge management, preventing disarray and providing a structured framework. Without this organisation, knowledge becomes unstructured, making it challenging or even impossible to locate when needed in the future.
                        h2 Knowledge sharing
                        p.lead
                            | The knowledge organisation process completes with a knowledge sharing step. It includes activities ranging from knowledge training to exchange. This involves acquiring or enhancing knowledge through discussions with other employees within an organisation.                            

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 Knowledge management for Managers and Teams
                        p.lead
                            | Utilise the structured knowledge management features to effortlessly generate, oversee, and share product documentation, self-service help, user guides, knowledge bases, support content, and more.

        section.bg-light
            .container.px-4
                .row.gx-4.justify-content-center
                    .col-lg-8
                        h2 A “ must have” knowledge management system for your organisation
                        p.lead
                            | Harness the power of a user-friendly and robust knowledge base software designed to help you rapidly scale your customer support and encourage team collaboration.

        // Call to action
        section.py-5.bg-light
            .container.px-5.my-5
                h2.display-4.fw-bolder.mb-4 Let's build together a better future
                a.btn.btn-lg.btn-primary(href='mailto:acreboard@outlook.com') Contact us

        // Contact cards
        section#contact.py-5
            .container.px-5                    
                .row.gx-5.row-cols-2.row-cols-lg-4.py-5
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-chat-dots
                        .h5.mb-2 Email us
                        p.text-muted.mb-0 Email us at acreboard@outlook.com.
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-telephone
                        .h5 Call us
                        p.text-muted.mb-0 Call us at (+91) 9152965250.
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-people
                        .h5 Ask the community
                        p.text-muted.mb-0 Explore our community forums.
                    .col
                        .feature.bg-primary.bg-gradient.text-white.rounded-3.mb-3
                            i.bi.bi-question-circle
                        .h5 Support center
                        p.text-muted.mb-0 Browse FAQ's and support articles.

        // Footer
        include includes/footer.pug

        include includes/scripts.pug